.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore files
*.csv
*.json
*.xlsx
*.xls
*.shp
*.shx
*.sbx
*.sbn
*.cpg
*.xml
*.prj
*.dbf
*.zip
*.tif
#*.txt
*.RData
*.geojson
*.html
*.pdf
*.docx
*.doc
*.rds
*.sav
*.idea
*.dta

